<h1>Courses#show</h1>
<p>Find me in app/views/courses/show.html.erb</p>

<%= @course.name %>

<%= "Reviews" %>

 <% @course.reviews.each do |r| %>

<h2>review:<%= r.content %> </h2>


<%end%>


<%= link_to "review this course", new_course_review_path(@course) %>

