showww




<%= simple_form_for @category, url: category_favorites_path(@category), method: :post do |f| %>
      <%= f.submit "Favourite this" %> <span><i class="fa fa-heart"></i></span>
      <% end %>

